<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthLoginFilter</filter-name>
        <filter-class>linhnln.filter.AuthLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthLoginFilter</filter-name>
        <url-pattern>/SearchServlet</url-pattern>
        <url-pattern>/DisplayingDetailServlet</url-pattern>
        <url-pattern>/PostArticleServlet</url-pattern>
        <url-pattern>/InputCommentSerlvet</url-pattern>
        <url-pattern>/GetEmotionServlet</url-pattern>
        <url-pattern>/GetNotiServlet</url-pattern>
        <url-pattern>/DeleteCommentServlet</url-pattern>
        <url-pattern>/LogoutServlet</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>linhnln.listener.LogServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>linhnln.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>linhnln.servlet.DispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstTimeServlet</servlet-name>
        <servlet-class>linhnln.servlet.FirstTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayingDetailServlet</servlet-name>
        <servlet-class>linhnln.servlet.DisplayingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleServlet</servlet-name>
        <servlet-class>linhnln.servlet.PostArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmotionServlet</servlet-name>
        <servlet-class>linhnln.servlet.GetEmotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InputCommentSerlvet</servlet-name>
        <servlet-class>linhnln.servlet.InputCommentSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotiServlet</servlet-name>
        <servlet-class>linhnln.servlet.GetNotiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmAccountServlet</servlet-name>
        <servlet-class>linhnln.servlet.ConfirmAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>linhnln.servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>linhnln.servlet.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/DispatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstTimeServlet</servlet-name>
        <url-pattern>/FirstTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayingDetailServlet</servlet-name>
        <url-pattern>/DisplayingDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleServlet</servlet-name>
        <url-pattern>/PostArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmotionServlet</servlet-name>
        <url-pattern>/GetEmotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputCommentSerlvet</servlet-name>
        <url-pattern>/InputCommentSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotiServlet</servlet-name>
        <url-pattern>/GetNotiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/DeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmAccountServlet</servlet-name>
        <url-pattern>/ConfirmAccountServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DS007</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
